---
import BaseLayout from "@layouts/BaseLayout.astro";
import FormattedDate from "@components/FormattedDate.astro";
import OptimizedCover from "@components/OptimizedPicture.astro";
import { getEntries, getImage } from "@lib/contentful.astro";
import sanitizeHtml from "sanitize-html";

export async function getStaticPaths() {
  const posts = await getEntries("komunitashalalbandung");
  return posts["items"]?.map((post) => ({
    params: { slug: post.sys.id },
    props: post,
  }));
}

const post = Astro.props;

// --- Get Image
const url = post?.fields?.cover?.["sys"]?.id;
const image = await getImage(url);
const imageType = image?.fields?.file?.contentType;
---

<BaseLayout title={post.fields.tittle} description={post.fields.description}>
  <main>
    <article class="prose mx-auto dark:prose-invert">
      <!-- Related Posts -->
      <div class="mt-8">
        <div class="prose-h1 text-center">
          <h1>{post.fields.tittle}</h1>
        </div>
  
 
        <div>
          {
            imageType?.includes("image") ? (
              <OptimizedCover
                src={"https://" + image?.fields?.file?.url}
                alt="Gambar"
              />
            ) : imageType?.includes("video") ? (
              <video controls>
                <source
                  src={"https://" + image?.fields?.file?.url}
                  type={imageType}
                />
              </video>
            ) : null
          }
        </div>
        <!-- Tombol Download -->
        {
          post.fields.downloadlink && (
            <div class="mb-4 mt-6 flex flex-col items-center">
              <a
                href={
                  post.fields.downloadlink == null
                    ? post.fields.downloadlink
                    : ""
                }
                target="_blank"
                rel="noopener noreferrer"
                class="rounded-lg bg-neutral-200 px-6 py-3 font-semibold text-black shadow-md transition duration-300 hover:bg-neutral-300"
              >
                Download
              </a>
            </div>
          )
        }

        <div>
          <p>{post.fields.description}</p>
        </div>
        <div class="prose-a:no-underline">
          <!-- {
            post.data.tags.map((tag) => (
              <span class="mb-2 mr-2 inline-block rounded-full bg-neutral-200 px-3 py-1 text-sm hover:bg-neutral-500 dark:bg-neutral-600">
                <a href={`/tags/${tag}/1/`}>{tag}</a>
              </span>
            ))
          } -->
        </div>
        
        <div class="flex justify-between">
          <small
            >Publish on <FormattedDate date={post.sys.createdAt} />，Update on <FormattedDate
              date={new Date().toISOString()}
            /></small
          >
        </div>
        
      </div>
      <div class="mt-4">
        <!-- <RelatedPostsCard
        currentCategory={post.fields.category} 
        currentSlug={post.sys.id}
      /> -->
      </div>
    </article>
  </main>
</BaseLayout>
