---
import Link from "@components/Links.astro";
import { Icon } from "astro-icon/components";
import {
  LOGO_URL,
  HeaderLinks,
  CategoryLinks,
  PrintCategoryLinks,
} from "@consts";
---

<header class="z-50 flex w-full flex-wrap py-7 md:flex-nowrap md:justify-start">
  <nav
    class="relative mx-auto flex w-full max-w-7xl basis-full flex-wrap items-center px-4 md:grid md:grid-cols-12"
    aria-label="Global"
  >
    <div class="md:col-span-3">
      <a
        class="flex-none text-xl font-semibold text-neutral-900 hover:text-neutral-600 dark:text-neutral-400 dark:hover:text-neutral-200"
        href="/"
        aria-label="Astroverse"
      >
        <img src={LOGO_URL} alt="" />
      </a>
    </div>

    <div
      class="ms-auto flex items-center gap-x-2 py-1 md:order-3 md:col-span-3 md:ps-6"
    >
      <Link
        href={HeaderLinks.Request.href}
        type="button"
        class="inline-flex items-center gap-x-1 rounded-lg border border-transparent bg-[#F49E20] px-4 py-3 text-[12px] font-medium text-white hover:bg-orange-400 focus:bg-orange-400 focus:outline-none disabled:pointer-events-none disabled:opacity-50"
      >
        {HeaderLinks.Request.title}
        <Icon name="tabler:plus" class="icon-base" />
      </Link>

      <button
        type="button"
        class="inline-flex items-center gap-x-2 rounded-xl border border-transparent px-3 py-2 text-sm font-medium text-black transition hover:bg-neutral-100 disabled:pointer-events-none disabled:opacity-50 dark:text-white dark:hover:bg-neutral-700"
        onclick="window.location.href='/search/'"
      >
        <Icon name="tabler:search" class="icon-base" />
      </button>

      <button
        type="button"
        class="hs-dark-mode inline-flex items-center gap-x-2 rounded-full px-3 py-2 text-sm text-black hover:bg-white/20 hs-dark-mode-active:hidden"
        data-hs-theme-click-value="dark"
      >
        <Icon name="tabler:sun-filled" class="icon-base" />
      </button>
      <button
        type="button"
        class="hs-dark-mode hidden items-center gap-x-2 rounded-full px-3 py-2 text-sm text-white hover:bg-white/20 hs-dark-mode-active:inline-flex"
        data-hs-theme-click-value="light"
      >
        <Icon name="tabler:moon-filled" class="icon-base" />
      </button>

      <div class="md:hidden">
        <button
          type="button"
          class="hs-collapse-toggle flex size-[38px] items-center justify-center rounded-xl text-sm font-semibold text-black hover:bg-neutral-100 disabled:pointer-events-none disabled:opacity-50 dark:text-white dark:hover:bg-neutral-700"
          data-hs-collapse="#navbar-collapse-with-animation"
          aria-controls="navbar-collapse-with-animation"
          aria-label="Toggle navigation"
        >
          <Icon
            name="tabler:menu-2"
            class="size-4 flex-shrink-0 hs-collapse-open:hidden"
          />
          <Icon
            name="tabler:menu-order"
            class="hidden size-4 flex-shrink-0 hs-collapse-open:block"
          />
        </button>
      </div>
    </div>

    <div
      id="navbar-collapse-with-animation"
      class="hs-collapse hidden grow basis-full overflow-hidden transition-all duration-300 md:order-2 md:col-span-6 md:block md:w-auto md:basis-auto"
    >
      <div
        class="mt-5 flex flex-col gap-x-0 gap-y-4 md:mt-0 md:flex-row md:items-center md:justify-center md:gap-x-7 md:gap-y-0"
      >
        <Link
          href={HeaderLinks.Home.href}
          class="font-medium text-neutral-900 hover:text-neutral-600 dark:text-neutral-400 dark:hover:text-neutral-200"
        >
          {HeaderLinks.Home.title}
        </Link>

        <div class="hs-dropdown relative inline-flex">
          <button
            id="hs-dropdown-unstyled"
            type="button"
            class="hs-dropdown-toggle inline-flex items-center justify-center gap-x-2 text-neutral-900 hover:text-neutral-600 hs-dropdown-open:font-medium dark:text-neutral-400 dark:hover:text-neutral-200"
            aria-expanded="false"
            aria-label="Menu"
          >
            Media Elektronik
            <Icon name="tabler:chevron-down" class="icon-base" />
          </button>

          <div
            class="hs-dropdown-menu duration z-10 mt-2 hidden w-56 min-w-60 rounded-lg bg-white p-2 opacity-0 shadow-md transition-[opacity,margin] hs-dropdown-open:opacity-100 dark:divide-neutral-700 dark:border dark:border-neutral-700 dark:bg-neutral-800"
            role="menu"
            aria-orientation="vertical"
            aria-labelledby="hs-dropdown-example"
          >
            {
              CategoryLinks.map((link) => (
                <Link
                  href={link.href}
                  class="block rounded-md px-4 py-3 font-medium text-neutral-900 hover:bg-gray-100 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-200"
                >
                  {link.title}
                </Link>
              ))
            }
          </div>
        </div>

        <div class="hs-dropdown relative inline-flex">
          <button
            id="hs-dropdown-unstyled"
            type="button"
            class="hs-dropdown-toggle inline-flex items-center justify-center gap-x-2 text-neutral-900 hover:text-neutral-600 hs-dropdown-open:font-medium dark:text-neutral-400 dark:hover:text-neutral-200"
            aria-expanded="false"
            aria-label="Menu"
          >
            Media Cetak
            <Icon name="tabler:chevron-down" class="icon-base" />
          </button>

          <div
            class="hs-dropdown-menu duration z-10 mt-2 hidden w-56 min-w-60 rounded-lg bg-white p-2 opacity-0 shadow-md transition-[opacity,margin] hs-dropdown-open:opacity-100 dark:divide-neutral-700 dark:border dark:border-neutral-700 dark:bg-neutral-800"
            role="menu"
            aria-orientation="vertical"
            aria-labelledby="hs-dropdown-example"
          >
            {
              PrintCategoryLinks.map((link) => (
                <Link
                  href={link.href}
                  class="block rounded-md px-4 py-3 font-medium text-neutral-900 hover:bg-gray-100 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-200"
                >
                  {link.title}
                </Link>
              ))
            }
          </div>
        </div>

        <Link
          href={HeaderLinks.Contact.href}
          class="font-medium text-neutral-900 hover:text-neutral-600 dark:text-neutral-400 dark:hover:text-neutral-200"
        >
          {HeaderLinks.Contact.title}
        </Link>
      </div>
    </div>
  </nav>
</header>
